/* Width of our main container to 90% of body, centered */

.movieContainer {
  width: 90%;
  margin: auto;
}

/* Titles proper color and font */

.ContainerTitle {
  text-align: center;
  color: #636366;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}